@import './base.css';

#app {
  background-color:#181818 ;
  min-height:100vh ;
}
body{
  background-color:#181818 ;
  
}

a,
.green {
  text-decoration: none; 
}

@media (min-width: 1024px) {
  #app {
    display: flex;
    flex-direction: column;
  }
}

