@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Astloch:wght@400;700&display=swap');

@mixin centralization {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin evenlynSpace{
    display: flex;
    justify-content:space-between;
    width: 400px;
}

@mixin styleBtn{
    outline: none;
    transition: 1s;
}

//navbar
header nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem .5rem;
}
.createLoginNav{
    display: flex;
    justify-content: end;
    align-items: center;
}
.logo{
    height: 50px;
}
.btnLoginAccount,
.btnCreateAccount{
    margin: 0rem 1.5rem;
    @include centralization;
    border-radius: 1rem;
    border: 2px solid #00ff00;
    transition: 1s;
    max-height: 30px;
}
.btnCreateAccount{
    padding: 0rem 1rem;
    color: #00ff00; 
}
.btnCreateAccount:hover{
    background-color: #00ff00;
    color: #000;
    transition: 1s;
}
.btnLoginAccount{
    height: 100%;
    width: 30px;
    background-image: url("../assets/imgs/avatarHover.svg");
    background-size: 75% 75%;
    background-repeat: no-repeat;
    background-position: center;
}
.btnLoginAccount:hover{
    background-image: url("../assets/imgs/avatar.svg");
    background-color: #00ff00;
}

.imgAvatarAccount{
    height: 20px;
    width: 20px;
}
.navBarProducts{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.productsLinks{
    color: #00ff00;
    text-align: center;
    width: 12.5%;
    transition: .5s;
}
.productsLinks:hover{
    transition: .5s;
    color: #000;
    background-color: #00ff00;
}
.btnShoppingCart{
    @include centralization;
    height: 30Px;
    width: 30px;
    background-image: url("../assets/imgs/shoppingCartGreen.png");
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1rem;
    border: 2px solid #00ff00;
    transition: 1s;
    margin-right: 1rem;
}
.btnShoppingCart:hover{
    transition: 1s;
    background-image: url("../assets/imgs/shoppingCartBlack.png");
    background-color: #00ff00;
}
//navbar

//Formulario-criação-de-conta
.bodyFormCreate{
    height: 100vh;
    @include centralization;
}
.formCreateAcc{
    @include centralization;
    flex-direction:column;
    justify-content: space-around;
    background-color: #222;
    padding: 0rem 1rem;
    height: 500px;
    max-height: 560px;
    border-radius: .5rem;
    border-left: 1px solid #00ff00;
    border-right: 1px solid #00ff00 ;
}
.loginTitle{
    color: #00ff00;
    font-size: 2rem;
    font-weight: bolder;
    font-style: italic;
}
.inputAreaText{
    @include evenlynSpace;
}
.inputAreaText label{
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
}
.inputAreaText input{
    background-color: transparent;
    color: #fff;
    transition: .5s;
    border:none;
    border-bottom: 1px solid #00ff00;  
}
.inputAreaText input:focus,
.formRecover .inputAreaText input:focus{
    background-color: #161616;
    transition: .5s;
    outline: none;
    border-bottom: 1px solid #00ff00;
}
@media (max-width: 450px) {
    .inputAreaText{
        max-width: 330px;
        width: 340px;
    }
    
}
.buttonSubmit{
    border: 1px solid #00ff00;
    border-radius: .5rem;
    padding: .25rem 1rem;
    background-color: #222;
    outline: none;
    transition: 1s;
    color: #00ff00;
    cursor: pointer;
}
.buttonSubmit:hover{
    transition: 1s;
    background-color: #00ff00;
    color: #222;
    cursor: pointer;
}
.btnChangeCL{
    border: 1px solid #00ff00;
    padding: .25rem .5rem;
    border-radius: 1rem;
    margin: .5rem;
    background-color: #222;
    outline: none;
    transition: 1s;
    color: #00ff00;
    cursor: pointer;
}
.btnChangeCL:hover{
    transition: 1s;
    background-color: #00ff00;
    color: #222;
    cursor: pointer;
}
.formRecover{
    @include centralization;
    flex-direction:column;
    justify-content: space-around;
    background-color: #222;
    padding: 0rem 1rem;
    height: 500px;
    max-height: 120px;
    border-radius: .5rem;
    border-left: 1px solid #00ff00;
    border-right: 1px solid #00ff00;
}

.successMessage {
    color: #00ff00;
    margin-top: 10px;
  }
//Formulario-criação-de-conta


//Page-not-found
.pageNotFound{
    @include centralization;
    height: 100vh;
}

.textNotFound{
    color: #00ff00;
}
//Page-not-found

//Home
.homeView{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.extrasServices{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}
.iaPromotion{
    width: 45%;
    color: transparent;
    height: 100%;
    background-image: url(./imgs/BornOfPutridy.png);
    transition: 0.5s;
    background-size: cover;
    background-position: 20% 50%;
    border-radius: 1rem 0rem 0rem 1rem;
    border: 2px solid #ff0000;
    text-align: center;
    font-family: "Astloch", system-ui;
    font-weight: 700 !important; 
}
.iaPromotion:hover{
    color: #f00;
    height: 100%;
    background-image: url();
    text-align: center;
}
.cardCriate{
    width: 45%;
    color: transparent;
    height: 100%;
    background-image: url(./imgs/CardBank.png);
    transition: 0.5s;
    background-size: cover;
    background-position: 20% 100%;
    border-radius: 0rem 1rem 1rem 0rem;
    border: 2px solid #00ff00;
    text-align: center;
    font-style: italic;
    font-weight: 700 !important; 
}
.cardCriate:hover{
    color: #0f0;
    height: 100%;
    background-image: url();
    text-align: center;
}

@keyframes borderRotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

//Drinks
.addCartProduct{
    border-radius: .3rem;
    border: 1px solid #00ff00;
    height: 20px;
    width: 20px;
    background-color: #00ff00;
    background-image: url("../assets/imgs/shoppingCartBlack.png");
    background-size: 75% 75%; 
    background: no-repeat center;
}
.productsList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.product{
    height: 400px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #00ff00;
}
.btnBuy{
    padding: 0rem .5rem;
    background-color: none;
    transition: .5s;
    border-radius: 1rem;
}
.btnBuy:hover{
    transition: .5s;
    background-color: #00ff00;
}
.removeItem{
    background-color: #f00;
    border-radius: 1rem;
    background-image: url("../assets/imgs/lixeira.png");
    background-size: 75% 75%; 
    background: no-repeat center;
}
.products{
    width: 100%;
    display: flex;
    justify-content: center;
}
.productsList{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    width: 100%;
}
.productItem{
    background-color: #000;
    border: 1px solid #0f0;
    border-radius: .3rem;
    gap: 10px;
    height: 250px;
    width: 250px;
    margin: 1.5rem 0rem;
}